<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Boutique de bonnets en satin, perruques et accessoires faits maison."
    />
    <title>Boutique Chez Stéphanie</title>
    <link rel="canonical" href="https://boutique-stephanie-app.render.com" />
    <link rel="icon" href="/static/img/icon.png" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/media_query.css" />
    <link rel="stylesheet" href="/static/css/auth.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>Boutique Stéphanie</h1>
      </div>
      <div class="menu_bag">
        <button><i class="ri-shopping-bag-3-line"></i></button>
      </div>

      <ul class="nav_links">
        <li><a href="#">Accueil</a></li>
        <li><a href="#catalogue">Catalogue</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <section class="home">
      <section class="home_content">
        <h3>J'ai l'honneur de vous accueillir sur</h3>
        <h1>BOUTIQUE STÉPHANIE</h1>
        <h3>Pour vous service!</h3>
        <a href="#catalogue">CONSULTER LE CATALOGUE</a>
      </section>
      <h2 class="home_bg_text">Luxure</h2>
      <section class="home_img">
        <img src="/static/img/home_img.png" alt="Image d'accueil" />
      </section>
    </section>

    <section class="catalogue" id="catalogue">
      <section class="catalogue_title">
        <h2>CATALOGUE STÉPHANIE</h2>
        <p>Découvrez nos produits exclusifs!</p>
      </section>
      <section class="catalogue_content">
        <ul>
          <li class="img_1"><h4>Bonnets</h4></li>
          <li class="img_2"><h4>Perruques</h4></li>
          <li class="img_3"><h4>Parfums</h4></li>
          <li class="img_4"><h4>Élastiques en satin</h4></li>
          <li class="img_5"><h4>Vêtements faits maison</h4></li>
        </ul>
      </section>
    </section>
    <section class="promo">
      <section class="promo_text">
        <p>Nous voulons vous offrir une expérience de</p>
        <p>shopping exceptionnelle avec nos produits de</p>
        <h4>QUALITÉ SUPÉRIEURE!</h4>
        <a href="#products">DÉCOUVRER NOS PRODUITS</a>
      </section>
      <h2 class="promo_bg_text">Classy</h2>
      <section class="promo_img">
        <img
          src="/static/img/AD_IMG.png"
          alt="Image de promotion"
          loading="lazy"
        />
      </section>
    </section>

    <section class="products" id="products">
      <section class="products_text">
        <h2>Nos Produits</h2>
        <p>Découvrez notre sélection de produits de qualité supérieure.</p>
      </section>

      <section class="products_collection">
        <section class="product">
          <img src="/static/img/Bonnet.JPEG" loading="lazy" alt="Bonnet" />
          <a href="#shopping">Acheter</a>
        </section>
        <section class="product">
          <img src="/static/img/chouchou.JPEG" loading="lazy" alt="Chouchou" />
          <a href="#shopping">Acheter</a>
        </section>
        <section class="product">
          <img
            src="/static/img/LACE_Curly.webp"
            loading="lazy"
            alt="Perruque"
          />
          <a href="#shopping">Acheter</a>
        </section>
        <section class="product">
          <img
            src="/static/img/parfum_gf.png"
            loading="lazy"
            alt="Parfum Grand Format"
          />
          <a href="#shopping">Acheter</a>
        </section>
        <section class="product">
          <img
            src="/static/img/crochet.JPEG"
            loading="lazy"
            alt="Parfum Petit Format"
          />
          <a href="#shopping">Acheter</a>
        </section>
      </section>
      <section class="shopping" id="shopping">
        <form class="shopping_form" action="/">
          <h2>Title</h2>
          <h3>Prix: XX.XX$</h3>
          <h4>Format:</h4>
          <ul class="format_container"></ul>
          <label for="quantity">Quantité:</label>
          <input
            class="quantity_input"
            type="number"
            name="quantity"
            id="quantity"
            min="1"
            value="1"
          />
          <input class="shopping_btn" type="submit" value="Ajouter au panier" />
        </form>
        <section class="img_gallery">
          <img src="" alt="Img petit Angle" />
        </section>
        <section class="img_pop_up">
          <img src="" alt="Img Grand Angle" />
        </section>
      </section>
    </section>
    <section class="contact" id="contact">
      <section class="contact_text">
        <h2>Contactez-nous</h2>
        <p>
          Nous sommes là pour répondre à toutes vos questions et vous aider à
          trouver les produits parfaits pour vous.
        </p>
      </section>
      <section class="contact_img">
        <img
          src="/static/img/contact_img.png"
          alt="Femme très belle"
          loading="lazy"
        />
      </section>
      <h2 class="contact_bg_text">Style</h2>
      <form
        action="https://formspree.io/f/mdajdvre"
        method="post"
        class="contact_form"
      >
        <label for="name">Nom</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Votre nom"
          required
        />
        <label for="email">Adresse e-mail</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Votre adresse e-mail"
          required
        />
        <label for="message">Message</label>
        <textarea
          name="message"
          id="message"
          placeholder="Votre message"
          required
        ></textarea>
        <input type="submit" value="Envoyer" />
      </form>
    </section>
    <section class="go_to_top" id="go_to_top">
      <span><i class="ri-arrow-up-long-fill"></i></span>
    </section>

    <section class="basket">
      <section class="basket_title">
        <h3>Résumé de l'achat</h3>
      </section>
      <section class="basket_container"></section>
      <section class="basket_exit">
        <span><i class="ri-close-circle-line"></i></span>
      </section>
      <section class="estimed_total">
        <h3>Sous-Total $</h3>
      </section>
      <section class="auth_btn">
        <button>Passez au paiement</button>
      </section>
    </section>

    <section class="authBox">
      <section class="auth_container">
        <h2>Identification</h2>
        <form class="auth_form">
          <h3 id="authTitle">Se connecter</h3>
          <input
            type="text"
            name="firstname"
            class="first_name"
            placeholder="Prénom"
            required
          />
          <input
            type="text"
            name="lastname"
            class="last_name"
            placeholder="Nom"
            required
          />
          <input
            type="email"
            name="email"
            id="auth_email"
            placeholder="Email"
            required
          />
          <section class="pwd_container">
            <input
              type="password"
              name="password"
              id="auth_password"
              placeholder="Mot de passe"
              required
            /><i class="ri-eye-off-line"></i>
          </section>
          <button id="authActionBtn">Se connecter</button>
          <p id="toggleAuth">Pas de compte? <span>Créer un compte</span></p>
        </form>
        <button class="continue_shopping">Continuer le magasinage</button>
      </section>
      <section class="price_container">
        <h2>Sommaire</h2>
        <section class="price_recap">
          <h3>Sous-total</h3>
          <h4>XX$</h4>
        </section>
        <section class="price_tax">
          <h3>Taxes</h3>
          <h4>XX$</h4>
        </section>
        <section class="price_total">
          <h3>Total</h3>
          <h4>XX$</h4>
        </section>
        <button>Afficher le panier</button>
        <section class="payment_services">
          <i class="ri-visa-line"></i><i class="ri-mastercard-fill"></i>
        </section>
      </section>
    </section>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-col">
          <h4>Compagnie</h4>
          <ul>
            <li><a href="#contact">Contacts</a></li>
            <li><a href="#contact">Carrières</a></li>
            <li><a href="#contact">Affiliations</a></li>
            <li><a href="#products">Boutique</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Liens Utiles</h4>
          <ul>
            <li><a href="#contact">Support</a></li>
            <li><a href="#contact">Retours</a></li>
            <li><a href="#contact">FAQ</a></li>
            <li><a href="#contact">Stories</a></li>
          </ul>
        </div>

        <div class="footer-col newsletter">
          <h4>Abonne-toi à notre newsletter</h4>
          <form
            action="https://formspree.io/f/mdajdvre"
            method="POST"
            id="newsletter_form"
          >
            <input type="email" placeholder="your@email.com" required />
            <input type="submit" value="Join!" />
          </form>
        </div>
      </div>

      <div class="footer-bottom">
        <a href="#">Retour en haut</a>
      </div>
    </footer>
    <script type="module" src="/static/js/app.js"></script>
  </body>
</html>
