<!doctype html>
<html>
  <head>
    <title>Commande Confirmée!</title>
    <link rel="stylesheet" href="/static/css/checkout.css" />
  </head>
  <body>
    <section class="product">
      <img src="/static/img/Sign-check-icon.png" alt="Check" />
      <p>Nous apprécions votre engagement!</p>
    </section>

    <script>
      localStorage.setItem("paymentSuccess", "true");
      localStorage.removeItem("cart");
      setTimeout(() => {
        window.location.href = "/";
      }, 3000);
    </script>
  </body>
</html>
